@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2rem;
  min-height: 100vh;
  color: $primary-color;
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 112rem;
  gap: 4rem;
  padding: 2rem;
  border: 2px solid $primary-color;
  outline: 2px solid $primary-color;
  outline-offset: 1.2rem;
}

h1 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 2px;
  word-spacing: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 2.4rem;
}

input {
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  background-color: $input-background-color;
  padding: 1.6rem 3.2rem;
  border: none;
  width: 32rem;

  &:focus {
    outline: 2px solid $primary-color;
  }
}

.weather {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.day-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin: 2rem 0;
  background-color: $input-background-color;
}

.day-tab-content {
  line-height: 2;
  padding: 2rem;

  span {
    font-weight: 600;
  }

  ul {
    margin-left: 2rem;
  }
}

.day {
  background-color: $input-background-color;
  padding: 1.6rem 0 2rem;
  width: 12.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;

  span {
    font-size: 5.2rem;
  }
}

.day.important {
  background-color: $accent-color;
  outline: 2px solid $primary-color;
}

.loader {
  font-size: 2.4rem;
  font-weight: 700;
}

@media (max-width:95em){
  html{
    font-size: 50%;
  }
}

@media (max-width:77em){
  html{
    font-size: 45%;
  }
  .app{
    border: none;
    outline: none;
    outline-offset: none;
  }

  .weather{
    flex-wrap: wrap;
  }

  .day-tab{
    flex-direction: column;
    gap:0;
    border: 2px solid #3b3b3b84;
    outline: 2px solid #3b3b3b84;
    outline-offset: 0.5rem;
  }

  .day{
    border: 2px solid #3b3b3b84;
    outline: 2px solid #3b3b3b84;
    outline-offset: 0.1rem;
  }

  img{
    transform: translateY(4rem);
  }
  
}


@media (max-width:50em) {
  html{
    font-size: 40%;
  }

  h1{
    font-size:4rem;
  }

  h1,
  input{
    text-align: center;
  }
}
